<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>InterCraft Launcher</title>
	
	<link rel="stylesheet" href="../css/materialdesignicons.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/mdb.min.css">
	<link rel="stylesheet" href="../css/odometer.css">
	<link rel="stylesheet" href="../css/app.css">

</head>
<body>
	<div class="main-container">
		<div class="top">
			<%- include("./components/navbar") %>
		</div>
		<div class="content-container">
			<%- include("./components/sidebar") %>
			<div class="container main-content" id="viewport">
				<!-- Loaded views will be inserted here -->
			</div>
		</div>
	</div>
	<%- include("./components/login_dialog") %>

	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script>window.$ = window.jQuery = require('../js/jquery.min.js');</script> <!-- JQuery -->
	<script type="text/javascript" src="../js/tether.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/mdb.min.js"></script>
	<script type="text/javascript" src="../js/odometer.min.js"></script>
	<script>require("../js/electron_bootstrap");</script>
	<script>const ipc = require("../js/ipc");</script>
	<script>const locale = require("../js/locale");</script>
	<script>const launcherWindow = require("../js/launcher_window");</script>
	<script>if (window.module) module = window.module;</script>
	<script>
		$(document).ready(function() {
			launcherWindow.init();
			ipc.ready();
		});
	</script>
</body>
</html>