<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>InterCraft Splash</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<style>
		html, body {
			background: rgba(0, 0, 0, 0);
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
			margin: 0;
		}

		.splash-container {
			background: url('../img/splash_background.png');
			position: relative;
			width: 281px;
			height: 361px;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
			box-sizing: border-box;
		}

		#status-bar {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			font-size: 0.8em;
			color: white;
			background: rgba(0, 0, 0, 0.3);
			padding: 15px;
		}
	</style>
</head>
<body>
	<div class="splash-container">
		<div id="status-bar">
			<!-- Status messages here -->
		</div>
	</div>
	<script>if (typeof module === "object") {window.module = module; module = undefined;}</script>
	<script>window.$ = window.jQuery = require("../js/jquery.min.js");</script> <!-- JQuery -->
	<script type="text/javascript" src="../js/tether.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/mdb.min.js"></script>
	<script>const ipc = require("../js/ipc.js");</script>
	<script>if (window.module) module = window.module;</script>
	<script>
		var setStatus = function(message) { $("#status-bar").html(message); };
		ipc.subscribe("splash-status-msg", setStatus);
		$(document).ready(function() {
			ipc.ready();
		});
	</script>
</body>
</html>