<div class="row row-main">
	<div class="col-3">
		<div class="card data-card">
			<div class="card-header">Members</div>
			<div class="card-block">
				<i class="icon mdi mdi-account-multiple icon-yellow"></i>
				3
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card data-card">
			<div class="card-header">World Area</div>
			<div class="card-block">
				<i class="icon mdi mdi-image-filter-hdr icon-green"></i>
				17
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card data-card">
			<div class="card-header">Current Day</div>
			<div class="card-block">
				<i class="icon mdi mdi-white-balance-sunny icon-blue"></i>
				35,102
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card data-card">
			<div class="card-header">Players Online</div>
			<div class="card-block">
				<i class="icon mdi mdi-account-multiple-outline icon-red"></i>
				17
			</div>
		</div>
	</div>
</div>
