<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>InterCraft Launcher</title>
	
	<link rel="stylesheet" href="../css/materialdesignicons.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/mdb.min.css">
	<link rel="stylesheet" href="../css/app.css">

</head>
<body class="login-bg">
	
	<div class="main-container">
		<div class="top">
			<div class="window-title-bar">
				<a href="" class="waves-effect waves-dark"><i class="mdi mdi-window-minimize"></i></a><!-- 
			 --><a href="" class="waves-effect waves-dark"><i class="mdi mdi-square-outline"></i></a><!-- 
			 --><a href="" class="waves-effect waves-dark"><i class="mdi mdi-window-close"></i></a>
			</div>
			<nav class="navbar navbar-toggleable-md navbar-light white">
					<div class="container">
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="../img/brand.png" width="32" height="32" class="d-inline-block align-top" alt="">
							<strong>INTERCRAFT</strong>
						</a>
						<div class="collapse navbar-collapse" id="navbarNav4">
							<ul class="navbar-nav mr-auto">
								
							</ul>
							<ul class="navbar-nav ml-auto nav-flex-icons">
								<li class="nav-item">
									<a class="nav-link waves-effect waves-light"><i class="mdi mdi-email-outline"></i></a>
								</li>
								<li class="nav-item">
									<a class="nav-link waves-effect waves-light"><i class="mdi mdi-bell-outline"></i></a>
								</li>
								<li class="nav-item avatar dropdown">
									<a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="test.png" class="img-fluid z-depth-0"></a>
									<div class="dropdown-menu dropdown-primary dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item waves-effect waves-light" href="#">Edit Profile</a>
										<a class="dropdown-item waves-effect waves-light" href="#">Switch Profile</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item waves-effect waves-light" href="#">Sign Out</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>
		</div>
		<div class="content-container">
			<div class="sidebar">
				<div class="profile-block">
					<div>
						<img src="head_64.png" alt="">
					</div><!-- 
				 --><div>
						<div class="sidebar-username">SirDavidLudwig</div><!-- 
					 --><div class="sidebar-email text-muted">davidludwigii@gmail.com</div>
					</div>
				</div>
				<div class="play-button btn-group dropdown">
					<button class="btn btn-block btn-primary">InterCraft</button>
					<button class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
						<a href="#" class="dropdown-item">InterCraft</a>
						<a href="#" class="dropdown-item">forge</a>
						<a href="#" class="dropdown-item">Vanilla</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item">Manage Profiles</a>
					</div>
				</div>
				<nav class="sidenav">
					<ul class="sidenav-container">
						<li class="sidenav-item">
							<a href="#" class="sidenav-link active waves-effect">
								<span class="sidenav-icon"><i class="mdi mdi-home-outline"></i></span><!-- 
							 --><span class="sidenav-name">Dashboard</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="#" class="sidenav-link waves-effect">
								<span class="sidenav-icon-img"><img src="../img/sidenav-icon.png" alt="" height="20"></span><!-- 
							 --><span class="sidenav-name">InterCraft</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="#" class="sidenav-link waves-effect">
								<span class="sidenav-icon"><i class="mdi mdi-format-float-left"></i></span><!-- 
							 --><span class="sidenav-name">News</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="#" class="sidenav-link waves-effect">
								<span class="sidenav-icon"><i class="mdi mdi-account"></i></span><!-- 
							 --><span class="sidenav-name">Profile</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="#" class="sidenav-link waves-effect">
								<span class="sidenav-icon"><i class="mdi mdi-email-outline"></i></span><!-- 
							 --><span class="sidenav-name">Messages</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="#" class="sidenav-link waves-effect">
								<span class="sidenav-icon"><i class="mdi mdi-account-settings-variant"></i></span><!-- 
							 --><span class="sidenav-name">Settings</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="content">
				
			</div>
		</div>
	</div>

	<script>window.$ = window.jQuery = require('../js/jquery.min.js');</script> <!-- JQuery -->
	<script>console.log($);</script>
	<script type="text/javascript" src="../js/tether.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/mdb.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>