.data-card {
	margin-bottom: 20px;
	min-height: 99px;
	.card-header {
		background: white;
		border-bottom: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		font-size: 0.8em;
		padding-bottom: 0;
		text-transform: uppercase;
		color: rgb(100, 100, 100);
	}
	.card-block {
		position: relative;
		box-sizing: border-box;
		padding-top: 0;
		vertical-align: top;
		text-align: right;
		font-size: 1.8em;
		.icon {
			position: absolute;
			left: 20px;
			font-size: 2em;
			bottom: -10px;
		}
		.icon-yellow {
			color: #ffe082;
		}
		.icon-green {
			color: #c5e1a5;
		}
		.icon-blue {
			color: #80deea;
		}
		.icon-red {
			color: #E57373;
		}
		.mdi-white-balance-sunny {
			font-size: 1.5em;
			bottom: 0px;
		}
	}
}