<div class="sidebar">
	<div class="profile-block">
		<div>
			<img src="../img/skin_face_placeholder.png" alt="" class="skin-face">
		</div>
		<div id="sidebar-profile-signin">
	 		<div class="sidebar-signin">No accounts available</div>
	 		<div class="sidebar-signin"><a href="#" class="sidebar-signin" data-toggle="modal" data-target="#add-account-modal">Add Account</a></div>
		</div>
		<div id="sidebar-profile-info" class="hidden">
			<div class="sidebar-username" mcvalue="username"></div>
			<div class="sidebar-email text-muted" mcvalue="email"></div>
		</div>
	</div>
	<div class="play-button btn-group dropdown" data-title="No Minecraft account available" data-placement="bottom">
		<button class="btn btn-block btn-primary" id="launcher-profile-button" disabled>InterCraft</button>
		<button class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu" id="launcher-profile-dropdown">
			<div class="dropdown-divider"></div>
			<a href="#" class="dropdown-item">Manage Profiles</a>
		</div>
	</div>
	<nav class="sidenav">
		<ul class="sidenav-container">
			<li class="sidenav-item">
				<a class="sidenav-link sidenav-tab active waves-effect" view="dashboard">
					<span class="sidenav-icon"><i class="mdi mdi-home-outline"></i></span>
					<span class="sidenav-name" locale="sidebar.dashboard">Dashboard</span>
				</a>
			</li>
			<li class="sidenav-item">
				<a class="sidenav-link sidenav-tab waves-effect" view="news">
					<span class="sidenav-icon"><i class="mdi mdi-format-float-left"></i></span>
					<span class="sidenav-name" locale="sidebar.news">News</span>
				</a>
			</li>
			<li class="sidenav-item">
				<a class="sidenav-link sidenav-dropdown-tab waves-effect">
					<span class="sidenav-icon-img"><img src="../img/sidenav-icon.png" alt="" height="20"></span> 
					<span class="sidenav-name">
				 		InterCraft
				 		<span class="sidenav-number danger-color">3</span>
				 	</span>
				</a>
				<ul class="sidenav-dropdown" style="height: 174px;">
					<li>
						<a class="sidenav-dropdown-link" view="intercraft_applications">
							<span locale="sidebar.intercraft.applications">Applications</span>
							<span class="sidenav-subnav-number success-color">3</span>
						</a>
					</li>
					<li>
						<a class="sidenav-dropdown-link" view="intercraft_blog">
							<span locale="sidebar.intercraft.blog">Blog</span>
						</a>
					</li>
					<li>
						<a class="sidenav-dropdown-link" view="intercraft_gallery">
							<span locale="sidebar.intercraft.gallery">Gallery</span>
						</a>
					</li>
					<li>
						<a class="sidenav-dropdown-link" view="intercraft_members">
							<span locale="sidebar.intercraft.members">Members</span>
						</a>
					</li>
					<li>
						<a class="sidenav-dropdown-link" view="intercraft_profile">
							<span locale="sidebar.intercraft.profile">Profile</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="sidenav-item">
				<a class="sidenav-link sidenav-tab waves-effect" view="minecraft_account">
					<span class="sidenav-icon"><i class="mdi mdi-account-settings-variant"></i></span>
					<span class="sidenav-name" locale="sidebar.account">Account</span>
				</a>
			</li>
			<li class="sidenav-item">
				<a class="sidenav-link sidenav-tab waves-effect" view="settings">
					<span class="sidenav-icon"><i class="mdi mdi-account-settings-variant"></i></span>
					<span class="sidenav-name" locale="sidebar.settings">Settings</span>
				</a>
			</li>
		</ul>
	</nav>
</div>