.sidebar {
	width: 300px;
	background: white;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
	z-index: 99;

	& .profile-block {
		box-sizing: border-box;
		padding-left: 20px;

		& > div {
			box-sizing: border-box;
			display: inline-block;
			padding: 30px 0px;
			.skin-face {
				height: 64px;
				width: 64px;
			}
			&:first-of-type {
				margin-right: 20px;
			}
			&:nth-of-type(2), &:nth-of-type(3) {
				padding-top: 25px;

				& .sidebar-signin {
					font-size: 18px;
					a {
						font-size: 15px;
					}
				}

				& .sidebar-username {
					font-size: 18px;
				}

				& .sidebar-email {
					font-size: 13px !important;
				}
			} 
			vertical-align: middle;
		}
	} // end profile-block

	& .play-button {
		margin-bottom: 20px;
		width: 100%;
		padding: 0 20px;
		position: relative;

		& button:first-of-type {
			width: 80%;
			text-transform: none !important;
			font-size: 1em;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		& button:last-of-type {
			width: 20%;
			font-size: 1.5em;
			padding: 0;

			&::after {
				margin-left: 0 !important;
			}
		}

		& .dropdown-menu {
			left: 20px !important;
			right: 20px !important;
		}
	}

	& .sidenav {
		& .sidenav-container {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-bottom: 50px;

			& .sidenav-item {
				& .sidenav-link {
					position: relative;
					display: block;
					padding: 13px 0px 13px 20px;
					color: #333;
					font-size: 15px;
					transition: background 0.2s ease;

					&:hover, &.active {
						background: rgb(240, 240, 240);
					}

					& .sidenav-icon {
						position: absolute;
						font-size: 20px;
						top: 10px;
					}

					& .sidenav-icon-img {
						position: absolute;
						top: 13px;
						& img {
							height: 20px;
						}
					}

					& .sidenav-name {
						vertical-align: middle;
						margin-left: 38px;
					}

					& .sidenav-number {
						color: white;
						display: inline-block;
						font-size: 0.8em;
						width: 24px;
						height: 24px;
						vertical-align: top;
						margin-left: 15px;
						padding-top: 4px;
						border-radius: 100%;
						text-align: center;
					}
				}

				& .sidenav-dropdown-tab + .sidenav-dropdown {
					display: none;
				}

				& .toggled + .sidenav-dropdown {
					display: block;
				}

				& .sidenav-dropdown {
					list-style: none;
					margin: 0;
					padding: 7px 0;
					background: rgb(230, 230, 230);

					& .sidenav-dropdown-link {
						position: relative;
						background: rgb(230, 230, 230);
						color: #444 !important;
						display: block;
						padding-left: 60px;
						height: 32px;
						
						&:hover {
							background: rgb(220, 220, 220);
						}

						& span:first-of-type {
							display: inline-block;
							margin-top: 4px;
						}

						& .sidenav-subnav-number {
							color: white;
							display: inline-block;
							font-size: 0.6em;
							width: 18px;
							height: 18px;
							vertical-align: top;
							margin-top: 7px;
							padding-top: 3px;
							border-radius: 100%;
							text-align: center;
						}
					}
					& .active {
						background: rgb(220, 220, 220);
					}
				}
			}
		}
	}
}