<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>InterCraft Launcher</title><link rel="stylesheet" href="../css/font-awesome.min.css"><link rel="stylesheet" href="../css/bootstrap.min.css"><link rel="stylesheet" href="../css/mdb.min.css"><link rel="stylesheet" href="../css/app.css"></head><body class="login-bg"><div class="container" style="height:100vh"><div class="row h-100"><div class="col-12 col-sm-12 col-md-8 col-lg-6 offset-sm-12 offset-md-2 offset-lg-3 my-auto"><div class="align-middle text-align: center">Loading...</div></div></div></div><script>window.$=window.jQuery=require("../js/jquery.min.js")</script><script>console.log($)</script><script src="../js/tether.min.js"></script><script src="../js/bootstrap.min.js"></script><script src="../js/mdb.min.js"></script><script src="../js/app.js"></script><script>const { ipcSend, ipcReceive } = require('electron-simple-ipc');
		$(document).ready(function() {
			setTimeout(function() {
				console.log("Ready now");
				ipcSend('initialized', {});
			}, 100);
		});</script></body></html>